@import "tailwindcss";

* {
  font-family: var(--font-bricolage), sans-serif;
}

body,
html {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

*::-webkit-scrollbar-thumb {
  display: none;
}

*::-webkit-scrollbar {
  display: none;
}
